{% extends "Hodviews/base.html" %}
{% load static %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Add Consultant Intro</h4>

            {% if success_message %}
            <div class="alert alert-success" role="alert">
              {{ success_message }}
            </div>
            {% endif %}

            {% if error_message %}
            <div class="alert alert-danger" role="alert">
              {{ error_message }}
            </div>
            {% endif %}

            <form method="post" action="{% url 'consultant_intro' %}" enctype="multipart/form-data">
              {% csrf_token %}

              <div class="form-group">
                
               
                <label for="consultant_intro">Consultant Intro (Information):</label>
                <input type="text" id="consultant_intro" class="form-control"  name="consultant_intro" required value="{{ consultant.consultant_intro|default:'' }}">
              </div>
              <div class="form-group">
                <label for="consultant_bio">Consultant Info(Information):</label>
                <!-- Add CKEditor textarea -->
                <textarea id="consultant_bio" name="consultant_bio" required>{{ consultant.consultant_bio|default:'' }}</textarea>
              </div>

   

              <div class="form-group">
                <label for="consultant_description">Consultant Description(Home):</label>
                <!-- Add CKEditor textarea -->
                <textarea id="consultant_description" name="consultant_description" required>{{ consultant.consultant_description|default:'' }}</textarea>
              </div>

              <div class="form-group">
                <label for="image">Upload Image:</label>
                <input type="file" id="image" name="image">
            
                {% if customize and customize.image %}
                    <img src="{{ customize.image.url }}" alt="Uploaded Image" style="max-width: 200px; margin-top: 10px;">
            
                {% endif %}
            </div>

              <button type="submit" class="btn btn-primary">Update</button>
            </form>

            <!-- Include CKEditor library -->
            <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
            <script>
              {% comment %} CKEDITOR.replace('consultant_bio'); {% endcomment %}
              <script>CKEDITOR.replace('consultant_bio', { versionCheck: false });</script>
         
              {% comment %} CKEDITOR.replace('consultant_description'); {% endcomment %}
              <script>CKEDITOR.replace('consultant_description', { versionCheck: false });</script>
            </script>
          </div>
        </div>
      </div>
    </div>
  
    </div>
  </div>
{% endblock content %}
