{% extends "Hodviews/base.html" %}
{% load static %}
{% block custom_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/brands.min.css" integrity="sha512-8RxmFOVaKQe/xtg6lbscU9DU0IRhURWEuiI0tXevv+lXbAHfkpamD4VKFQRto9WgfOJDwOZ74c/s9Yesv3VvIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href={% static "assets/dist/css/consultant_logo.css"%} rel="stylesheet">
    <style>
        .error-text {
            color: red;
        }
    </style>
    
{% endblock custom_css %}
{% block content %}
<div class="logo-container mt-5">
    <div class="row justify-content-center">
        <div class="card-div">
            <div class="card image-page-card justify-content-center">
                <div class="card-header">
                    <h2 class="text-center ">Consultant Logo</h2>
                </div>
                <div class="card-body image-page-card-body">

                    <!-- Form for adding images -->
                    <form id="logo-form" method="post" enctype="multipart/form-data" action="">
                        {% csrf_token %}
                        <div class="row justify-content-center">
                            <div class="photos-div col-12">
                                <p class="text-center add-pics py-3 my-auto"><span>Add Picture</span></p>
                                <input class="" type="file" name="logo" id="photos">
                                {% if consultant_details.consultant_logo %}
                                {% if consultant_details.consultant_logo.url %}
                                    <img id="wizardPicturePreview" class="img-account-profile mb-2" src="{{ consultant_details.consultant_logo.url }}">
                                {% else %}
                                    <img id="wizardPicturePreview" class="img-account-profile mb-2" src="{% static 'path_to_default_image/default_image.jpg' %}">
                                {% endif %}
                            {% else %}
                                <img id="wizardPicturePreview" class="img-account-profile mb-2" src="{% static 'path_to_default_image/default_image.jpg' %}">
                            {% endif %}
                            </div>
                            <div class="right-caption-div col-12">
                                <!--Error messages starts-->
                                <div class="w-100">
                                    <div id="error-message-div" class="d-flex error-message-div">
                                        <p><span id="message-text" class="message-text text-center"></span></p>
                                    </div>
                                </div>
                                   <div class="w-100">
                                
                                          <p style="font-size: 14px; font-weight: 600;      margin-left: 109px; color:red !important;">Width: 120px; Height: 120px</p>
                                  </div>
                                <!--Error messages ends-->
                                <div class="d-flex justify-content-center mt-3">
                                    
                                    <button type="button" class="submit-btn form-upload btn btn-danger me-2">Upload Image</button>
                                    <button type="submit" class="form-submit submit-btn btn btn-success ms-2">Save Image</button>
                                    
                                </div>
                            </div>
                        </div>
                        <!--<div class="row justify-content-center">
                            <div class="col-md-4 col-12">
                                <label for="caption" class="form-label text-center">Caption:</label>
                                <input type="text" name="caption" required>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <button type="button" class="submit-btn form-upload custom-submit-btn me-2">Upload Image</button>
                            <button type="submit" class="form-submit submit-btn custom-submit-btn ms-2">Save Image</button>
                        </div>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="popup-container" class="popup-container">
    <div class="popup d-flex justify-content-center">
        <img src="{% static 'assets/images/404-tick.png' %}" alt="" class="success-tick">
        <div class="registration-success-div py-4">
            <p class="mb-2"><span class="successful-text text-center">Logo Updated Successfully</span></p>
        </div>
        <span class="close-icon"><i class="fa-solid fa-xmark fa-xl" style="color: #dedede;"></i></span>
    </div>
</div>
{% endblock content %}


{% block custom_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $("#photos").change(function(){
        readURL(this);
    });

    var imagesArray = [
        {% for image in images %}
            { imageUrl: '{{ image.image.url }}', caption: '{{ image.caption }}' },
        {% endfor %}
    ];
    
    console.log('imagesArray: ', imagesArray);

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
    
            reader.onload = function (e) {
                $('#wizardPicturePreview').attr('src', e.target.result).fadeIn('slow');
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $('.form-upload').on('click', function(){
        $('#photos').click()
        console.log('clicked')
    })

    $('.img-account-profile').on('click', function(){
        $('#photos').click()
        console.log('clicked')
    })

    // fetch data to save the data
    $('#logo-form').on('submit', function(event){
        event.preventDefault();
        var formData = new FormData(this);
        var fileSize = $('#photos')[0].files[0].size;
        // Check if file size is greater than 50KB
        if (fileSize > 51200) {
            $('#message-text').text('File size exceeds the limit of 50KB.').addClass('error-text');
            $('#error-message-div').addClass('error-message-show');
           
        }
        fetch('/save_logo/', {
            method: 'POST',
            //body: JSON.stringify(data),
            body: formData,
            headers: {
                'x-CSRFToken': '{{csrf_token}}',
                //'Content-Type': 'application/json'
            },
        })
        .then(response => response.json())
        .then(data => {
            // Handle the response data, e.g., show a success message
            console.log('data: ', data);

            if (data.success) {
                // Redirect to the URL provided in the response
                //window.location.href = data.redirect_url;
                console.log('data.success: ', data.success)
                $('#popup-container').addClass('show');

                setTimeout(function(){
                    $('#popup-container').removeClass('show');
                }, 1000)
            }
            
            else if (data.error) {
                console.log('errors: ', data.error);
                $('#message-text').text(data.error);
                $('#error-message-div').addClass('error-message-show');
            }
        })
        .catch(error => {
            // Handle errors, e.g., show an error message
            console.error('Error:', error);
        });
    })

</script>
{% endblock custom_js %}