{% extends "Hodviews/base.html" %}


{% block content %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="home-tab">
          <div class="d-sm-flex align-items-center justify-content-between border-bottom">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#overview" role="tab"
                  aria-controls="overview" aria-selected="true">Overview</a>
              </li>
            
            </ul>
            <div>
              <div class="btn-wrapper">
                <a href="#" class="btn btn-otline-dark align-items-center"><i class="icon-share"></i> Share</a>
                <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a>
                <a href="#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
              </div>
            </div>
          </div>
          <div class="tab-content tab-content-basic">
            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
              <div class="row">
                <div class="col-sm-12">
                  <div class="statistics-details d-flex align-items-center justify-content-between">
                    <div>
                      <p class="statistics-title">Total Students</p>
                      <h3 class="rate-percentage">{{total_students}}</h3>
                      {% comment %} <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>-0.5%</span></p> {% endcomment %}
                    </div>
                    <div>
                      <p class="statistics-title">Total Balance</p>
                      <h3 class="rate-percentage">{{ total_balance }}</h3>
                      {% comment %} <p class="text-success d-flex"><i class="mdi mdi-menu-up"></i><span>+0.1%</span></p> {% endcomment %}
                    </div>
                    <div>
                      <p class="statistics-title">Total Cost</p>
                      <h3 class="rate-percentage">{{total_debit}}</h3>
                      {% comment %} <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>68.8</span></p> {% endcomment %}
                    </div>
                    <div class="d-none d-md-block">
                      <p class="statistics-title">Avg. Student View</p>
                      <h3 class="rate-percentage">{{average_students}}%</h3>
                      {% comment %} <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span>+0.8%</span></p> {% endcomment %}
                    </div>
                    <div class="d-none d-md-block">
                      <p class="statistics-title">New Student</p>
                      <h3 class="rate-percentage">{{new_students_count}}</h3>
                      {% comment %} <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>68.8</span></p> {% endcomment %}
                    </div>
                    {% comment %} <div class="d-none d-md-block">
                      <p class="statistics-title">Avg. Time on Site</p>
                      <h3 class="rate-percentage">2m:35s</h3>
                     
                    </div> {% endcomment %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-8 d-flex flex-column">
                  <div class="row flex-grow">
                    <div class="col-12 grid-margin stretch-card">
                      <div class="card card-rounded">
                        <div class="card-body">
                          <div class="d-sm-flex justify-content-between align-items-start">
                            <div>
                              <h4 class="card-title card-title-dash">Balance Overview</h4>
                              <p class="card-subtitle card-subtitle-dash">{{consultant.company_name}}</p>
                            </div>
                            <div>
                              <div class="dropdown">
                                <button class="btn btn-light dropdown-toggle toggle-dark btn-lg mb-0 me-0"
                                  type="button" 
                                  aria-haspopup="true" aria-expanded="false"> This month </button>
                            
                              </div>
                            </div>
                          </div>
                          <div class="d-sm-flex align-items-center mt-1 justify-content-between">
                            <div class="d-sm-flex align-items-center mt-4 justify-content-between">
                              <h2 class="me-2 fw-bold">{{total_balance}}</h2>
                              <h4 class="me-2">Tk</h4>
                            
                            </div>
                            <div class="me-3">
                              <div id="marketingOverview-legend"></div>
                            </div>
                          </div>
                          <div class="chartjs-bar-wrapper mt-3">
                            <canvas id="customChart"></canvas>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                     <div class="row flex-grow">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card card-rounded">
                            <div class="card-body">
                                <div class="d-sm-flex justify-content-between align-items-start">
                                    <div>
                                        <h4 class="card-title card-title-dash">New Students</h4>
                                        <p class="card-subtitle card-subtitle-dash">You have <span id="newStudentsCount">{{new_students_count}}</span> new Students</p>
                                    </div>
                                    <div>
                                      <a href="{% url 'student_list' %}" class="btn btn-primary btn-lg text-white mb-0 me-0">
                                        <i class="mdi mdi-account-plus"></i> View Student
                                    </a>
                                    </div>
                                </div>
                                <div class="table-responsive mt-1">
                                    <table class="table select-table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div class="form-check form-check-flat mt-0">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i>
                                                        </label>
                                                    </div>
                                                </th>
                                                <th>Name</th>
                                                <th>Country</th>
                                                <th>Gender</th>
                                                <th>Secondary Result</th>
                                                <th>Higher Result</th>
                                                <th>Level</th>
                                            </tr>
                                        </thead>
                                        <tbody id="newStudentsTableBody">
                                            <!-- New students data will be inserted here dynamically -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="row flex-grow">
                 
                  
                  </div>
                </div>
                <div class="col-lg-4 d-flex flex-column">
                  <div class="row flex-grow">
                    <div class="col-12 grid-margin stretch-card">
                      <div class="card card-rounded">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="d-flex justify-content-between align-items-center">
                                <h4 class="card-title card-title-dash">Todo list</h4>
                                <div class="add-items d-flex mb-0">
                                  <!-- <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?"> -->
                                  <button
                                    class="add btn btn-icons btn-rounded btn-primary todo-list-add-btn text-white me-0 pl-12p"><i
                                      class="mdi mdi-plus"></i></button>
                                </div>
                              </div>
                              <div class="list-wrapper">
                                <ul class="todo-list todo-list-rounded">
                                  <li class="d-block">
                                    <div class="form-check w-100">
                                      <label class="form-check-label">
                                        <input class="checkbox" type="checkbox"> Lorem Ipsum is simply dummy text
                                        of the printing <i class="input-helper rounded"></i>
                                      </label>
                                      <div class="d-flex mt-2">
                                        <div class="ps-4 text-small me-3">24 June 2020</div>
                                        <div class="badge badge-opacity-warning me-3">Due tomorrow</div>
                                        <i class="mdi mdi-flag ms-2 flag-color"></i>
                                      </div>
                                    </div>
                                  </li>
                                  <li class="d-block">
                                    <div class="form-check w-100">
                                      <label class="form-check-label">
                                        <input class="checkbox" type="checkbox"> Lorem Ipsum is simply dummy text
                                        of the printing <i class="input-helper rounded"></i>
                                      </label>
                                      <div class="d-flex mt-2">
                                        <div class="ps-4 text-small me-3">23 June 2020</div>
                                        <div class="badge badge-opacity-success me-3">Done</div>
                                      </div>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="form-check w-100">
                                      <label class="form-check-label">
                                        <input class="checkbox" type="checkbox"> Lorem Ipsum is simply dummy text
                                        of the printing <i class="input-helper rounded"></i>
                                      </label>
                                      <div class="d-flex mt-2">
                                        <div class="ps-4 text-small me-3">24 June 2020</div>
                                        <div class="badge badge-opacity-success me-3">Done</div>
                                      </div>
                                    </div>
                                  </li>
                                  <li class="border-bottom-0">
                                    <div class="form-check w-100">
                                      <label class="form-check-label">
                                        <input class="checkbox" type="checkbox"> Lorem Ipsum is simply dummy text
                                        of the printing <i class="input-helper rounded"></i>
                                      </label>
                                      <div class="d-flex mt-2">
                                        <div class="ps-4 text-small me-3">24 June 2020</div>
                                        <div class="badge badge-opacity-danger me-3">Expired</div>
                                      </div>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row flex-grow">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card card-rounded">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                      <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h4 class="card-title card-title-dash">My Rating</h4>
                                    </div>
                                    <div>
                                        <canvas class="my-auto" id="ratingsDoughnutChart"></canvas>
                                    </div>
                                    <div id="ratingsDoughnutChart-legend" class="mt-5 text-center"></div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                  <div class="row flex-grow">
                  
                  </div>
                  <div class="row flex-grow">
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block custom_js %}
<script>
  // Function to fetch new student data from Django backend
  function fetchNewStudentsData() {
    // Make an AJAX request to the endpoint
    fetch('/new_students_view/')
        .then(response => response.json())
        .then(data => {
            // Once data is received, call function to populate the table
            populateTable(data.new_students);
        })
        .catch(error => {
            console.error('Error fetching new students data:', error);
        });
  }

  // Function to populate the table with student data
  function populateTable(newStudentsData) {
    var tableBody = document.getElementById("newStudentsTableBody");
    var counter = 1; // Counter for serial number

    // Clear existing table rows
    tableBody.innerHTML = "";

    // Loop through the received student data and create table rows
    newStudentsData.forEach(function(student) {
        var row = tableBody.insertRow();
        
        // Insert serial number cell
        var serialCell = row.insertCell();
        serialCell.textContent = counter++;
        
        // Insert cells for each property of the student object
        var nameCell = row.insertCell();
        nameCell.textContent = student.name;

        var countriesCell = row.insertCell();
        countriesCell.textContent = student.countries.join(', '); // Join the list of countries with a comma

        var genderCell = row.insertCell();
        genderCell.innerHTML = student.gender === 0 ? '<span class="badge bg-primary">Female</span>' : '<span class="badge bg-danger">Male</span>';

        var secondaryResultCell = row.insertCell();
        secondaryResultCell.textContent = student.secondary_result;

        var higherResultCell = row.insertCell();
        higherResultCell.textContent = student.higher_result;

        var levelCell = row.insertCell();
        levelCell.textContent = student.level != null ? "Level " + student.level : "-";
    });
  }

  // Call the function to fetch new students data when the page loads
  document.addEventListener("DOMContentLoaded", function() {
    fetchNewStudentsData();
  });
</script>

{% endblock custom_js %}