<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Find Your Location </title>

</head>

<body data-new-gr-c-s-check-loaded="14.1147.0" data-gr-ext-installed="">
    <div class="body" style="text-align: center;">
        <h1>How to find my map location?</h1>
        <h4>Ans::</h4>
        <ol>
            <h3><li>On your computer, open <a href="http://maps.google.com" target="_blank">Google Maps</a>.</li></h3>
            <img src={% static "assets/dist/images/1.jpg"%} style="width: 400px;"><br><br>
            <h3><li>Go to the directions, map, or Street View image you'd like to embed.</li></h3><br>
            <img src={% static "assets/dist/images/2.jpg"%} style="width: 500px;"><br><br>
            <img src={% static "assets/dist/images/3.jpg"%} style="width: 500px;"><br><br>
            <h3><li>In the top left, click Menu .</li></h3>
            <h3><img src={% static "assets/dist/images/4.jpg"%} style="width: 400px;"><br><br>
            </h3><h3><li>Click Share or embed map.</li></h3>
            <img src={% static "assets/dist/images/5.jpg"%} style="width: 300px;"><br><br>
            <h3><li>Click Embed map.</li></h3>
            <img src={% static "assets/dist/images/6.jpg"%} style="width: 500px;"><br><br>
            <h3><li>Copy the text in the box.</li></h3>
            <img src={% static "assets/dist/images/7.jpg"%} style="width: 600px;"><br><br>
            <h3><li>Paste it the text box and click save.</li></h3>
            <img src={% static "assets/dist/images/8.jpg"%} style="width: 500px;"><br><br>
        </ol>
    </div>

<div id="torrent-scanner-popup" style="display: none;"></div></body>

</html>
