annotated-types
APScheduler
asgiref
beautifulsoup4
bleach
bs4
certifi
chardet
charset-normalizer
contourpy
cycler
Django
django-apscheduler
django-bootstrap-datepicker-plus
django-cors-headers
django-post-office
django-relativedelta
django-request
django-s3-sqlite
djangorestframework
fonttools
frozen-django
idna
importlib-resources
kiwisolver
matplotlib
mysqlclient
numpy
packaging
pillow
pydantic
pydantic_core
pyparsing
python-dateutil
pytz==2023.3.post1
reportlab
requests
six
soupsieve
sqlparse
tinycss2
typing_extensions
tzdata
tzlocal
urllib3
webencodings
zipp
whitenoise #add whitenoise for static files handling
