{% extends 'base.html' %}
{% load static %}

{% block custom_css %}<!-- Stylesheets -->
    <link href="{% static 'assets/css/country_details.css' %}" rel="stylesheet">
{% endblock custom_css %}

{% block content %}
    <!-- End Mobile Menu -->
        <section class="page-title " style="background-image: url({% static 'assets/images/background/page-title.jpg' %}); height: 130px; padding: 20px 0;">
            <div class="auto-container">
                <div class="content-box my-2">
                    <div class="title-box">
                        <h1 class="text-center">{{ country.country_name }}</h1>
                        <div class="dotted-box">
                            <span class="dotted"></span>
                            <span class="dotted"></span>
                            <span class="dotted"></span>
                        </div>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><i class="flaticon-home-1"></i><a href="#">Home</a></li>
                        <li>{{consultant.company_name}}</li>
                        <li>Country</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="immigration-section">
            <div class="auto-container">
                {% comment %} <div class="row clearfix"> {% endcomment %}
                <div class="float-left">
                    <img src="{% static 'assets/countries/flags-medium/' %}{{ country.country_flag }}" alt="An image">
                </div>
            
                <div class="clearfix" style="font-size: 16px; color: #333; line-height: 1.5; margin-top: 10px;">
                    <p class="how-to-apply-text">
                        <strong>{{ country.country_howtoapply | safe }}</strong>
                    </p>
                </div>
                {% comment %} </div> {% endcomment %}
            </div>
        </section>
{% endblock content %}