{% extends "roottemplates/base.html" %}

{% block custom_css %}

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
   


    <style>


        /* Add custom styles for DataTables */
        #scholarshiplist {
          border-collapse: collapse;
          width: 100%;
        }
    

        #scholarshiplist th,
        #scholarshiplist td {
          border: 1px solid #ddd; /* Add border to table cells */
          padding: 8px;
          text-align: left;
        }
    

        #scholarshiplist th {
          background-color: #f2f2f2; /* Add background color to header cells */
        }
        .dataTables_wrapper .dataTable .btn, .dataTables_wrapper .dataTable .swal2-modal .swal2-buttonswrapper .swal2-styled, .swal2-modal .swal2-buttonswrapper .dataTables_wrapper .dataTable .swal2-styled, .dataTables_wrapper .dataTable .ajax-upload-dragdrop .ajax-file-upload, .ajax-upload-dragdrop .dataTables_wrapper .dataTable .ajax-file-upload {
          padding: 0.5rem 1rem;
          vertical-align: top;
      }
 
        .btn-edit,
        .btn-delete {


            color: #fff;
        }
    
        .btn-edit {
            background-color: #007bff;
        }
    
        .btn-delete {
            background-color: #dc3545;
        }
    
        .btn-edit:hover,
        .btn-delete:hover {
            color: #fff;
            text-decoration: none;
        }
        #scholarshiplist_filter input {
            margin-right: 40px !important; /* Increase the right margin */
        }
        div.dataTables_wrapper div.dataTables_length label {

            margin: 14px !important;
        }
        .datepicker td.disabled,
        .datepicker th.disabled,
        .datepicker tfoot.disabled,
        .datepicker thead.disabled {
          color: #999 !important; /* Change color of disabled dates */
          cursor: not-allowed; /* Change cursor for disabled dates */
        }
    </style>
    <!-- Additional custom CSS can be added here -->
{% endblock custom_css %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Consultant Uploaded Scholarship List</h4>
                    <table id="scholarshiplist"class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Company Name</th>
                                <th>Description</th>
                                <th>Apply Process</th>
                                <th>Expire Date</th>
                                <th>Created At</th>
                                <th>Actions</th> 
                            </tr>
                        </thead>
                        <tbody>
                            {% for scholarship in uploaded_scholarships %}
                                <tr>
                                    <td>{{ scholarship.company_name }}</td>
                                    <td>{{ scholarship.schp_description |truncatechars:30|safe }}</td>
                                    <td>{{ scholarship.apply_process |truncatechars:30|safe }}</td>
                                    <td>
                                        {% if scholarship.expiration_time %}
                                            {% with days_left=scholarship.expiration_time|timeuntil %}
                                                {{ days_left }}
                                            {% endwith %}
                                        {% else %}
                                            Expiration time not set
                                        {% endif %}
                                    </td>
                             
                                    <td>{{ scholarship.created_at }}</td>
                                    <td>
                                        {% if scholarship.status == 0 %}
                                        <button onclick="openApproveModal('{{ scholarship.id }}')" class="btn btn-success btn-approve btn-sm">Approve</button>
                                    {% endif %}
                                        <a href="#" class="btn btn-primary btn-view btn-sm" data-id="{{ scholarship.id }}">View</a>
                                        <a href="#" class="btn btn-danger btn-delete  btn-sm" data-id="{{ scholarship.id }}">Delete</a>

                                  
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
          
            </div>
            
        </div>
        
    </div>
</div>
</div>
<div class="modal fade" id="scholarshipModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="scholarshipModalTitle">Scholarship Details</h5>
          <button type="button" class="close" onclick="window.location.reload()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="description"></p>
          <p id="applyProcess"></p>
     
          <p id="createdAt"></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" onclick="window.location.reload()" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>


{% for scholarship in uploaded_scholarships %}

<!-- Approve Scholarship Modal -->
<div class="modal fade" id="approveScholarshipModal{{ scholarship.id }}" tabindex="-1" role="dialog" aria-labelledby="approveScholarshipModalLabel{{ scholarship.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="approveScholarshipModalLabel{{ scholarship.id }}">Approve Scholarship</h5>
                <button type="button" class="close" onclick="closeApproveModal('{{ scholarship.id }}')" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
           

                <div class="form-group">
                    <label for="expiration_date">Expiration Date:</label>
                    <div id="expiration_date-popup" class="input-group date datepicker navbar-date-picker">
                      <span class="input-group-addon input-group-prepend border-right">
                        <span class="icon-calendar input-group-text calendar-icon"></span>
                      </span>
                      <input   id="expiration_date{{ scholarship.id }}" type="text" name="expiration_date" class="form-control">
                    </div>   
                  </div>
                  
            </div>
            <div class="modal-footer">
                <input type="hidden" id="approveScholarshipId{{ scholarship.id }}" value="{{ scholarship.id }}"> <!-- Hidden field to store scholarship ID -->
                <button type="button" class="btn btn-secondary" onclick="closeApproveModal('{{ scholarship.id }}')" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="approveScholarship('{{ scholarship.id }}')">Approve</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% endblock content %}

{% block custom_js %}
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<script>
    $(document).ready(function() {
        // Initialize datepicker
        $('#expiration_date-popup').datepicker({
            format: 'yyyy-mm-dd',
            startDate: '+1d', // Start from tomorrow
            todayHighlight: true, // Highlight today
            autoclose: true
        });
    });

    // Function to open the approve scholarship modal
    function openApproveModal(scholarshipId) {
        $('#approveScholarshipModal' + scholarshipId).modal('show');
        // Calculate the next date
        var today = new Date();
        today.setDate(today.getDate() + 1); // Add 1 day to get the next date
        var nextDate = today.toISOString().split('T')[0]; // Format the date as YYYY-MM-DD
        // Set the next date in the datepicker
        $('#expiration_date' + scholarshipId).val(nextDate);
    }

    // Function to close the approve scholarship modal
    function closeApproveModal(scholarshipId) {
        $('#approveScholarshipModal' + scholarshipId).modal('hide');
    }

    // Function to approve the scholarship
    function approveScholarship(scholarshipId) {
        // Retrieve expiration date from the modal
        var expirationDate = $('#expiration_date' + scholarshipId).val();

        // Send an AJAX request to approve the scholarship
        $.ajax({
            type: 'POST',
            url: '{% url 'approve_scholarship' %}',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}', // Include CSRF token
                'scholarship_id': scholarshipId, // Include scholarship ID
                'expiration_time': expirationDate // Include expiration date
            },
            success: function(response) {
                // Display a success message using SweetAlert
                Swal.fire(
                    'Approved!',
                    'The scholarship has been approved.',
                    'success'
                ).then(() => {
                    // Reload the page after approval
                    location.reload();
                });
            },
            error: function(xhr, status, error) {
                // Display an error message using SweetAlert
                Swal.fire(
                    'Error!',
                    'An error occurred while approving the scholarship.',
                    'error'
                );
            }
        });

        // Close the modal
        closeApproveModal(scholarshipId);
    }
</script>
<script>
    $(document).ready(function () {
        $('#scholarshiplist').DataTable();

        // View button click event handler
        $('.btn-view').click(function(e) {
            e.preventDefault();
            var scholarshipId = $(this).data('id');
            // Send AJAX request to view scholarship details
            $.ajax({
                type: 'GET',
                url: `/view-scholarship/${scholarshipId}/`,
                success: function(response) {
                    // Populate modal content with scholarship details
                    $('#scholarshipModalTitle').text('Scholarship Details');
                    $('#description').html('<h4>Description:</h4><p>' + response.scholarship.description + '</p>'); // Wrap description inside h4 tag
                    $('#applyProcess').html('<h4>Apply Process:</h4><p>' + response.scholarship.apply_process + '</p>'); // Wrap apply process inside h4 tag
                   // Wrap consultant ID inside h4 tag
                    $('#createdAt').html('<h4>Created At:</h4><p>' + response.scholarship.created_at + '</p>'); // Wrap created at inside h4 tag
                    // Open the modal
                    $('#scholarshipModal').modal('show');
                },
                error: function(error) {
                    console.error(error);
                    // Display error message
                    alert('Failed to fetch scholarship details!');
                }
            });
        });
        // Delete button click event handler
        $('.btn-delete').click(function(e) {
            e.preventDefault();
            var scholarshipId = $(this).data('id');
            var csrftoken = getCookie('csrftoken'); // Function to get the CSRF token value from cookies
        
            // Send AJAX request to delete scholarship
            $.ajax({
                type: 'POST',
                url: `/delete_scholarship_uploaded/${scholarshipId}/`,
                headers: {
                    'X-CSRFToken': csrftoken // Include the CSRF token in the request headers
                },
                success: function(response) {
                    // Check if the deletion was successful
                    if (response.success) {
                        // Show success message
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: response.message,
                            timer: 2000,
                            timerProgressBar: true,
                            onClose: () => {
                                // Remove the deleted scholarship row from the table
                                $('#scholarshiplist').DataTable().row($(`#scholarship-${response.scholarship_id}`)).remove().draw(false);
                            }
                        });
                    } else {
                        // Show error message
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Failed to delete scholarship!'
                        });
                    }
                },
                error: function(error) {
                    console.error(error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Failed to delete scholarship!'
                    });
                }
            });
        });
        // Function to retrieve CSRF token from cookies
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Check if the cookie name matches the specified name
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
</script>
{% endblock custom_js %}