{% extends "roottemplates/base.html" %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/brands.min.css" integrity="sha512-8RxmFOVaKQe/xtg6lbscU9DU0IRhURWEuiI0tXevv+lXbAHfkpamD4VKFQRto9WgfOJDwOZ74c/s9Yesv3VvIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css" integrity="sha512-d0olNN35C6VLiulAobxYHZiXJmq+vl+BGIgAxQtD5+kqudro/xNMvv2yIHAciGHpExsIbKX3iLg+0B6d0k4+ZA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">

<link rel="stylesheet" href={% static "assets/dist/vendors/feather/feather.css"%}>
<link rel="stylesheet" href={% static "assets/dist/vendors/mdi/css/materialdesignicons.min.css"%}>
<link rel="stylesheet" href={% static "assets/dist/vendors/ti-icons/css/themify-icons.css"%}>
<link rel="stylesheet" href={% static "assets/dist/vendors/typicons/typicons.css"%}>
<link rel="stylesheet" href={% static "assets/dist/vendors/simple-line-icons/css/simple-line-icons.css"%}>
<link rel="stylesheet" href={% static "assets/dist/vendors/css/vendor.bundle.base.css"%}>
<!-- endinject -->
<!-- Plugin css for this page -->
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href={% static "assets/dist/css/vertical-layout-light/style.css"%}>
<!-- endinject -->
<link rel="shortcut icon" href={% static "assets/dist/images/favicon.png" %}/>
<style> 
  /* Add custom styles for DataTables */


  #rootclinetlist {
    border-collapse: collapse;
    width: 100%;
  }

  #active-rootclinetlist-table th,
  #rootclinetlist th,
  #rootclinetlist td,
  #rootclinetlist th,
  #rootclinetlist td,
  #rootclinetlist td,
  #rootclinetlist th,
  #rootclinetlisttd {
    border: 1px solid #ddd; /* Add border to table cells */
    padding: 8px;
    text-align: left;
  }

  #rootclinetlist th {
    background-color: #f2f2f2; /* Add background color to header cells */
  }
  .dataTables_wrapper .dataTable .btn, .dataTables_wrapper .dataTable .swal2-modal .swal2-buttonswrapper .swal2-styled, .swal2-modal .swal2-buttonswrapper .dataTables_wrapper .dataTable .swal2-styled, .dataTables_wrapper .dataTable .ajax-upload-dragdrop .ajax-file-upload, .ajax-upload-dragdrop .dataTables_wrapper .dataTable .ajax-file-upload {
    padding: 0.5rem 1rem;
    vertical-align: top;
}

  .badge-text-black {
      color: black;
  }
  .table td img {
    width: 110px;
    height: 66px;
    border-radius: 5%;
}
.form-control, .typeahead, .tt-query, .tt-hint, .select2-container--default .select2-selection--single .select2-search__field, .select2-container--default .select2-selection--single, .dataTables_wrapper select, .asColorPicker-input {
  border: 1px solid #dee2e6;
  font-weight: 400;
  font-size: 0.875rem;
  border-radius: 4px;
  height: 2rem;
  padding: 9px;
}

</style>



{% endblock custom_css %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
  <div class="col-md-8">

        <div class="card">
          <div class="card-body">
        <h4 class="card-title mb-4">Client List</h4>
    <div class="mb-3">
        <a href="{% url 'add_client' %}" class="btn btn-primary">Add Client</a>
    </div>
    <table id="rootclinetlist" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Client Name</th>
                <th>Client Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ client.client_name }}</td>
                <td>
              {% if client.client_image %}
            <img src="{{ client.client_image.url }}" alt="Client Image" style="max-width: 114px; max-height: 100px;">
            {% else %}
                    No Image
                    {% endif %}
                </td>
                <td>
                    <button class="btn btn-sm btn-primary update-client" data-id="{{ client.id }}" data-name="{{ client.client_name }}" data-image="{{ client.client_image.url }}">  <i class="fas fa-pencil-alt"></i></button>
                    <button class="btn btn-sm btn-danger delete-client" data-id="{{ client.id }}"><i class="fas fa-trash"></i></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Update Client Modals -->
{% for client in clients %}
<div class="modal fade" id="updateClientModal{{ client.id }}" tabindex="-1" aria-labelledby="updateClientModalLabel{{ client.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateClientModalLabel{{ client.id }}">Update Client</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="updateClientForm" method="post" enctype="multipart/form-data" action="{% url 'update_client' client.id %}">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" class="clientId" name="client_id" value="{{ client.id }}">
                    <div class="mb-3">
                        <label for="clientName{{ client.id }}" class="form-label">Client Name:</label>
                        <input type="text" class="form-control" id="clientName{{ client.id }}" name="client_name" value="{{ client.client_name }}">
                    </div>
                    <div class="mb-3">
                        <label for="clientName{{ client.id }}" class="form-label">Website Url:</label>
                        <input type="url" class="form-control" id="clientName{{ client.id }}" name="client_url" value="{{ client.client_url }}">
                    </div>
                    <div class="mb-3">
                        <label for="clientImage{{ client.id }}" class="form-label">Client Image:</label>
                        <input type="file" class="form-control" id="clientImage{{ client.id }}" name="client_image" accept="image/*">
                    </div>
                    <div class="image-preview" style="display: none;">
                        {% if client.client_image %}
                        <img src="{{ client.client_image.url }}" alt="Client Image" class="img-fluid">
                        {% else %}
                        <p>No image available</p>
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update Client</button>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endfor %}
<!-- jQuery -->



{% endblock %}
{% block custom_js %}
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
  $(document).ready(function() {
      $('#rootclinetlist').DataTable({
          dom: 'Bfrtip',
          buttons: [
             
          ]
      });
  });
  </script>


<script>
  // Listen for click events on delete buttons
  document.querySelectorAll('.delete-client').forEach(button => {
      button.addEventListener('click', function() {
          const clientId = this.getAttribute('data-id');
          Swal.fire({
              title: 'Are you sure?',
              text: 'You will not be able to recover this client!',
              icon: 'warning',
              showCancelButton: true,
              confirmButtonText: 'Yes, delete it!',
              cancelButtonText: 'No, cancel!',
              reverseButtons: true
          }).then((result) => {
              if (result.isConfirmed) {
                  fetch(`/delete_client/${clientId}`, {
                          method: 'DELETE',
                          headers: {
                              'X-CSRFToken': '{{ csrf_token }}'
                          }
                      })
                      .then(response => {
                          if (response.ok) {
                              location.reload();
                          } else {
                              Swal.fire({
                                  icon: 'error',
                                  title: 'Oops...',
                                  text: 'Failed to delete client!',
                              });
                          }
                      })
                      .catch(error => {
                          console.error('Error:', error);
                          Swal.fire({
                              icon: 'error',
                              title: 'Oops...',
                              text: 'An error occurred while deleting the client.',
                          });
                      });
              }
          });
      });
  });

  // Listen for click events on update buttons
  document.querySelectorAll('.update-client').forEach(button => {
      button.addEventListener('click', function() {
          const clientId = this.getAttribute('data-id');
          const clientName = this.getAttribute('data-name');
          const clientImage = this.getAttribute('data-image');

          // Populate modal fields with client data
          const modal = document.querySelector('#updateClientModal' + clientId);
          modal.querySelector('.clientId').value = clientId;
          modal.querySelector('#clientName' + clientId).value = clientName;

          // Check if client image exists and update the preview
          const imagePreview = modal.querySelector('.image-preview');
          const imgElement = imagePreview.querySelector('img');
          if (clientImage) {
              imgElement.src = clientImage;
              imagePreview.style.display = 'block';
          } else {
              imagePreview.style.display = 'none';
          }

          // Open update client modal
          $('#updateClientModal' + clientId).modal('show');
      });
  });

  // Listen for submit event on update forms
  document.querySelectorAll('.updateClientForm').forEach(form => {
    form.addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent default form submission
        const clientId = this.querySelector('.clientId').value;
        const formData = new FormData(this);

        fetch(`/update_client/${clientId}/`, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => {
                if (response.ok) {
                    // Success message
                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: 'Client updated successfully.',
                        onClose: () => {
                            location.reload();
                        }
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Failed to update client!',
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'An error occurred while updating the client.',
                });
            });
    });
});
</script>

{% endblock custom_js %}

