{% extends "roottemplates/base.html" %}

{% block custom_css %}
{% include "roottemplates/partials/_page_theme.html" %}
<style>
.rate-input {
  border-radius: 10px;
}

.rate-modal .modal-content{
  border-radius:20px;
  border:1px solid rgba(15,23,42,.08);
  box-shadow:0 20px 45px rgba(15,23,42,.12);
}

.rate-table td{
  vertical-align:middle;
}
</style>
{% endblock custom_css %}


{% block content %}
<div class="content-wrapper">
<div class="page-shell">

<div class="page-hero">
<div>
<div class="page-eyebrow">Consultant Management</div>
<h1 class="page-title">Consultant Rates</h1>
<p class="page-subtitle">
Configure commission or service rates for each consultant.
</p>
</div>
</div>


<div class="page-card">
<div class="page-card-body">

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
{{ message }}
</div>
{% endfor %}
{% endif %}

<div class="page-table-wrap">

<table class="page-table rate-table">
<thead>
<tr>
<th>SL</th>
<th>Consultant Name</th>
<th>Action</th>
</tr>
</thead>

<tbody>

{% for consultant in consultants %}

<tr>

<td>{{ forloop.counter }}</td>

<td>
{{ consultant.company_name }}
({{ consultant.full_name }})
</td>

<td>

<button
class="page-btn page-btn-primary add-rates-btn"
data-consultant-id="{{ consultant.id }}"
>
Add Rates
</button>

</td>

</tr>

{% endfor %}

</tbody>
</table>

</div>
</div>
</div>



{% for consultant in consultants %}

<div class="modal fade rate-modal"
id="addRatesModal{{ consultant.id }}"
tabindex="-1"
aria-hidden="true">

<div class="modal-dialog modal-dialog-centered">

<div class="modal-content">

<div class="modal-header">
<h5 class="modal-title">
Add Rates for {{ consultant.full_name }}
</h5>

<button type="button"
class="btn-close"
data-bs-dismiss="modal">
</button>

</div>


<div class="modal-body">

<form id="addRatesForm{{ consultant.id }}">

{% csrf_token %}

<div class="page-form-grid">

<div class="page-field">
<label class="page-label">First Rate</label>
<input type="text"
class="form-control rate-input"
name="first_rate">
</div>

<div class="page-field">
<label class="page-label">Second Rate</label>
<input type="text"
class="form-control rate-input"
name="second_rate">
</div>

<div class="page-field">
<label class="page-label">Third Rate</label>
<input type="text"
class="form-control rate-input"
name="third_rate">
</div>

<div class="page-field">
<label class="page-label">Four Rate</label>
<input type="text"
class="form-control rate-input"
name="four_rate">
</div>

<div class="page-field">
<label class="page-label">Five Rate</label>
<input type="text"
class="form-control rate-input"
name="five_rate">
</div>

</div>

<div style="margin-top:20px">

<button type="submit"
class="page-btn page-btn-primary">
Save Rates
</button>

</div>

</form>

</div>

</div>
</div>
</div>

{% endfor %}

</div>
</div>
{% endblock content %}



{% block custom_js %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<script>

$(document).ready(function(){

$('.add-rates-btn').on('click', function(){

var consultantId = $(this).data('consultant-id');

var modalId = '#addRatesModal' + consultantId;

$(modalId + ' form')[0].reset();

$.ajax({

url:'/get_existing_rates/' + consultantId + '/',

type:'GET',

dataType:'json',

success:function(response){

if(response.success){

var existingRates = response.existing_rates;

$.each(existingRates,function(key,value){

$(modalId + ' form input[name=' + key + ']').val(value);

});

}

}

});

$(modalId).modal('show');

});



$('[id^=addRatesForm]').on('submit', function(e){

e.preventDefault();

var form = $(this);

var consultantId = form.attr('id').replace('addRatesForm','');

$.ajax({

url:'/add_or_update_rates/' + consultantId + '/',

type:'POST',

data:form.serialize(),

dataType:'json',

success:function(response){

if(response.success){

$('#addRatesModal'+consultantId).modal('hide');

Swal.fire({

icon:'success',

title:'Success',

text:response.message

});

}

},

error:function(){

Swal.fire({

icon:'error',

title:'Error',

text:'Failed to save rates'

});

}

});

});



$('.rate-input').on('input', function(){

var sanitized = $(this).val().replace(/\D/g,'');

$(this).val(sanitized);

});

});

</script>

{% endblock custom_js %}