{% extends "roottemplates/base.html" %}
{% load static %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Add/Edit Explanation</h4>

            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}

            <form method="post" action="{% url 'explenation' %}" enctype="multipart/form-data">
              {% csrf_token %}

              <div class="form-group">
                <label for="exp_title">Title:</label>
                <input type="text" id="exp_title" name="exp_title" class="form-control" value="{% if instance %}{{ instance.exp_title }}{% endif %}" required>
              </div>

              <div class="form-group">
                <label for="exp_des">Description:</label>
                <textarea id="exp_des" name="exp_des" class="form-control" rows="4" required>{% if instance %}{{ instance.exp_des }}{% endif %}</textarea>
              </div>

               <div class="form-group row justify-content-between">
                <label for="exp_img"> Uploaded Image:</label>
                {% if instance and instance.exp_img %}
                    <img src="{{ instance.exp_img.url }}" alt="Existing Image" style="max-width: 400px; height: auto;">
                    <br>
                {% endif %}
                <br>
                <input type="file" id="exp_img" name="exp_img" accept="image/*" class="form-control-file">
            </div>
              <div>
          <p style="font-size: 14px; font-weight: 600;  color:red !important;">Width: 390px; Height: 300px</p>
          </div>

              <!-- Include the user's id as a hidden field -->
              <input type="hidden" name="root_id" value="{{ request.user.id }}">

              <button type="submit" class="btn btn-primary">{% if instance %}Update{% else %}Create{% endif %}</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Include CKEditor library -->
  <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
  <script>
    // Replace the textarea with id 'exp_des' with CKEditor
    CKEDITOR.replace('exp_des');
  </script>

{% endblock content %}
