{% extends "base.html" %}
{% load static %}
{% block custom_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link href={% static "assets/css/signup.css"%} rel="stylesheet">
{% endblock custom_css %}

{% block content %}

    <div class="otp-container mt-4 d-flex justify-content-center">
        <!--OTP form starts-->
        <form id="phone-form" class="forgot-password-phone-form" method="POST" action="">
            {% csrf_token %}
            <div class="otp-card p-5 my-4" style="max-height:500px; max-width: 500px;">
                <div class="otp-header">
                    <h5 class="mb-3">Enter the Registered Phone Number</h5>
                    <div class="otp-body">
                        <!--<input type="text" id="otp-input" class="otp-input" name="otp" placeholder="Enter OTP">-->
                        <input type="text" name="phone" id="phone" required="" placeholder="Mobile" maxlength="11">
                    </div>
                </div>

                <div class="w-100 mt-2">
                    <div id="error-message-div" class="d-flex error-message-div justify-content-center">
                        <p><span id="message-text" class="message-text text-center">Invalid Phone number</span></p>
                    </div>
                </div>

                <div class="d-flex justify-content-center mt-3">
                    <button class="signup-btn">Verify Phone</button>
                </div>
            </div>
        </form>
        <!--OTP form ends-->
    </div>

    {% comment %} <div id="popup-container" class="popup-container">
        <div class="popup d-flex justify-content-center">
            <img src="{% static 'assets/images/404-tick.png' %}" alt="" class="success-tick">
            <div class="registration-success-div">
                <p class="mb-2"><span class="successful-text text-center">Registration Successful</span></p>
                <p class="text-center"><span class="successful-text">Please Login</span></p>
            </div>
            <span class="close-icon"><i class="fa-solid fa-xmark fa-xl" style="color: #dedede;"></i></span>
        </div>
    </div> {% endcomment %}

{% endblock content %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script>
    // Phone validation starts
    function validateForm() {
        var requiredFields = [
            { field: 'name', message: 'Your Name is required.' },
            { field: 'email', message: 'Email address is required.' },
            { field: 'phone', message: 'Phone Number is required.' },
            { field: 'subject', message: 'Subject is required.' },
            { field: 'category', message: 'Category is required.' },
            { field: 'message', message: 'Message is required.' }
        ];
        var isValid = true;
        requiredFields.forEach(function (item) {
            var value = $('#' + item.field).val();
            if (!value) {
                $('#' + item.field).addClass('error-border');
                // Set the error message text
                $('#' + item.field + '_error').text(item.message);
                isValid = false;
            } else {
                $('#' + item.field).removeClass('error-border');
                // Clear the error message
                $('#' + item.field + '_error').text('');
            }
        });
        if (!isValid) {
            // Use a more user-friendly method than alert, e.g., displaying messages on the page
            alert('Please fill in all required fields.');
        }
    }
</script>
<script>
    // Phone validation starts 
    $("#phone").on("input", function() {
        var phone = $(this).val();
        var numericPhone = phone.replace(/\D/g, ""); // Remove non-digit characters
        $(this).val(numericPhone); // Update the input value with the numeric version
        // Check if the phone number length is not 11
        if (numericPhone.length !== 11) {
            $(".phone_error").remove();
            $("<div class='d-flex justify-content-start'><span class='phone_error' style='color: red;'>Phone Nmber must be 11 digits</span></div>").insertAfter("#phone");
            $("#phone").addClass("error-border");
            return;
        }
        // Check if the phone number starts with the allowed prefixes
        var allowedPrefixes = ["019", "018", "017", "016", "013", "014"];
        var isValidPrefix = false;
        for (var i = 0; i < allowedPrefixes.length; i++) {
            if (numericPhone.startsWith(allowedPrefixes[i])) {
                isValidPrefix = true;
                break;
            }
        }
        if (!isValidPrefix) {
            $(".phone_error").remove();
            $("<div class='d-flex justify-content-start'><span class='phone_error' style='color: red;'>Invalid Format</span></div>").insertAfter("#phone");
            $("#phone").addClass("error-border");
            return;
        }
        // If the input is valid, remove any error messages and styling
        $(".phone_error").remove();
        $("#phone").removeClass("error-border");
    });
    // Phone validation ends

    $(document).ready(function(){
        $('#phone-form').on('submit', function(event){
            event.preventDefault();
            var formData = new FormData(this);
            
            fetch('/forgot_password_phone_or_email_student/', {
                method: 'POST',
                //body: JSON.stringify(data),
                body: formData,
                headers: {
                    'x-CSRFToken': '{{csrf_token}}',
                    //'Content-Type': 'application/json'
                },
            })
            .then(response => response.json())
            .then(data => {
                console.log('data: ', data);

                if (data.success) {
                    window.location.href = data.redirect_url
                }
                
                else if (data.error) {
                    console.log('errors: ', data.error);
                    $('#message-text').text(data.error);
                    $('#error-message-div').addClass('error-message-show');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        })
    })
</script>
{% endblock js %}