{% extends "base.html" %}
{% load static %}
{% block custom_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link href={% static "assets/css/signup.css"%} rel="stylesheet">
{% endblock custom_css %}

{% block content %}
    <div class="otp-container mt-4 d-flex justify-content-center">
        <form id="otp-form" method="POST" action="">
            {% csrf_token %}
            <div class="otp-card p-5 my-4" style="max-height:500px; max-width: 500px;">
                <h5 class="mb-3">OTP verification</h5>

                <div id="number-change-div" class="otp-header change-number-outer-div">
                    <div class="change-number-div otp-hide">
                        <p class="text-left mb-1" style="font-weight: 600;">Send OTP to ({{ phone }}):</p>
                        
                        <input type="text" id="change-number-input" class="otp-input" name="otp" placeholder="Phone Number" value="{{ phone }}">

                        <div class="d-flex justify-content-end mt-2">
                            <button type="button" id="send-change-number" class="change-number-btn">Change</button>
                        </div>
                    </div>
                </div>

                <div class="otp-header">
                    <div class="otp-body">
                        <p id="change-number" class="change-number mb-1 text-left">Change Number({{ phone }})</p>

                        <p id="enter-otp-text" class="text-left mb-1" style="font-weight: 600;">Enter OTP</p>
                        <input type="text" id="phone-number-input" class="otp-input" name="otp" placeholder="Enter OTP">
                    </div>
                </div>

                <div class="otp-header">
                    <div class="w-100">
                        <div id="error-message-div" class="d-flex error-message-div justify-content-center">
                            <p><span id="message-text" class="message-text text-center">Invalid Phone number</span></p>
                        </div>
                    </div>
    
                    <div class="row justify-content-start p-2">
                        <div id="countdown" class="col-6 text-left"></div>
                        <div class="resend-otp otp-hide col-6 d-none text-right">
                            <a id="resend-otp" href="" style="color: blue; font-weight: 600;">Resend</a>
                        </div>
                    </div>
    
                    <div class="d-flex justify-content-center mt-3">
                        <button type="submit" class="signup-btn">Verify OTP</button>
                    </div>
                </div>
                
            </div>
        </form>
    </div>

    <div id="popup-container" class="popup-container">
        <div class="popup d-flex justify-content-center">
            <img src="{% static 'assets/images/404-tick.png' %}" alt="" class="success-tick">
            <div class="registration-success-div">
                <p class="mb-2"><span class="successful-text text-center">Registration Successful</span></p>
                <p class="text-center"><span class="successful-text">Please Login</span></p>
            </div>
            <span class="close-icon"><i class="fa-solid fa-xmark fa-xl" style="color: #dedede;"></i></span>
        </div>
    </div>

{% endblock content %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function() {
        var expirationTime = {{ expiration_time }};
        var countdownElement = $('#countdown');
        var resendOtpDiv = $('.resend-otp');

        updateCountdown(expirationTime); // Call initially
        var countdownInterval; // Update countdown every second
        countdownInterval = setInterval(updateCountdown, 1000, expirationTime);

        function updateCountdown(expirationTimeOTP) {
            var now = Math.floor(Date.now() / 1000);
            var timeLeft = expirationTimeOTP - now;

            if (timeLeft <= -1) {
                // Session expired
                clearInterval(countdownInterval); // Stop the countdown
                resendOtpDiv.removeClass('d-none');
                return;
            }
            else {
                resendOtpDiv.addClass('d-none');
            }

            var minutes = Math.floor(timeLeft / 60);
            var seconds = timeLeft % 60;

            // Pad the seconds with leading zero if less than 10
            if (seconds < 10) {
                seconds = '0' + seconds;
            }
            countdownElement.html(minutes + ':' + (seconds < 0 ? '00' : seconds));
        }

        $('form#otp-form-student fieldset').on('keydown', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
            }
        });

        $('#change-number').on('click', function(){
            //$('#change-number').text('Enter Otp');
            $('#change-number').addClass('d-none')
            $("#number-change-div").addClass("change-number-show");
        })

        // Resend the otp
        $('#send-change-number').click(function(event) {
            event.preventDefault(); // Prevent the default action of the link

            var phoneNumber = $('#change-number-input').val();

            // Make fetch GET request
            fetch('/change_number/?phone=' + phoneNumber, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to resend OTP');
                }
                return response.json();
            })
            .then(data => {
                // Handle successful response
                if (data.success) {
                    // Update expiration time and OTP in session
                    var expirationTime = data.expiration_time;
                    var changedPhone = data.changed_phone;
                    var phoneNumberText = ' (' + changedPhone + ')'
                    var otp = data.otp;

                    $('#enter-otp-text').append(phoneNumberText);

                    $("#number-change-div").removeClass("change-number-show");
            
                    updateCountdown(expirationTime); // Call initially
                    clearInterval(countdownInterval);
            
                    countdownInterval = setInterval(updateCountdown, 1000, expirationTime); // Update countdown every second
                }
                else if(data.error){
                    console.log('errors: ', data.error);
                    $('#message-text').text(data.error);
                    $('#error-message-div').addClass('error-message-show');
                }
                else {
                    console.error('Failed to resend OTP');
                }
            })
            .catch(error => {
                // Handle fetch error
                console.error('Fetch request failed:', error);
            });
        });

        $('#otp-form').on('submit', function(event){
            event.preventDefault();
            var formData = new FormData(this);
            
            fetch('/save_user_signup/', {
                method: 'POST',
                //body: JSON.stringify(data),
                body: formData,
                headers: {
                    'x-CSRFToken': '{{csrf_token}}',
                    //'Content-Type': 'application/json'
                },
            })
            .then(response => response.json())
            .then(data => {

                if (data.success) {
                    console.log('data.success: ', data.success)
                    $('#popup-container').addClass('show');

                    setTimeout(function(){
                        window.location.href = '/login_user/'
                    }, 1000)
                }
                
                else if (data.error) {
                    console.log('errors: ', data.error);
                    $('#message-text').text(data.error);
                    $('#error-message-div').addClass('error-message-show');
                }
            })
            .catch(error => {
                // Handle errors, e.g., show an error message
                console.error('Error:', error);
            });
        })

        // Resend the otp
        $('#resend-otp').click(function(event) {
            event.preventDefault(); // Prevent the default action of the link
            
            // Make fetch GET request
            fetch('/otp_verification_signup/?resend=true', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to resend OTP');
                }
                return response.json();
            })
            .then(data => {
                // Handle successful response
                if (data.success) {
                    // Update expiration time and OTP in session
                    var expirationTime = data.expiration_time;
                    var otp = data.otp;

                    updateCountdown(expirationTime); // Call initially
                    clearInterval(countdownInterval);
            
                    countdownInterval = setInterval(updateCountdown, 1000, expirationTime); // Update countdown every second
                }
                else {
                    console.error('Failed to resend OTP');
                }
            })
            .catch(error => {
                // Handle fetch error
                console.error('Fetch request failed:', error);
            });
        });
    });
</script>
{% endblock js %}

